body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
}

/* The sidenav */
.sideNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(212, 223, 247, 0.568);
  overflow-x: hidden;
  padding-top: 20px;
  border:rgb(212, 223, 247,.7) solid;
  border-radius: 1px;
}

/* Page content */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
}

/* The navigation menu links */
.links {
  text-decoration: none;
  font-size: 15px;
  display: block;
  transition: 0.3s;
  margin-left: 10px;
  font-weight: 400;
}

.brandName {
  font-size: 25px;
  margin-left: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.links:hover {
 
}

.house-logo {
  width: 20px;
  height: 20px;
}

.link {
  text-decoration: none;
}

.brandLine {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.lines {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  color: rgb(87, 87, 87);
}

.colorChange {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  color: rgb(6, 180, 180);
}

.side-logo {
  width: 20px;
  height: 20px;
}

.bar {
  border: 1px solid rgb(212, 223, 247,.9);
  width: 90%;
}

.title {
  margin-bottom: 0px;
}
